* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://news.cuna.org/ext/resources/Online/2018/10/10-23-18_business-lending_1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.calc {
    width: 500px;
    height: 400px;
    background-color: #24f6cc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}
.calc h2{
    text-align: center;
}
.calc input{
    width: 50%;height: 20px;
}
.calc button{
    width: 10%;height: 40px;margin: 15px;
}
.calc p{
    text-align: center;
    margin: 50px;
    font-size: 40px;
}